/*<div class="linkbox">
  Follow <a href="">@OGCR</a> on Twitter
</div>*/

.linkbox {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  color: white;
  background-color: #f7483b;
  padding: 10px;
}

.linkbox a {
  text-decoration: none;
  color: #03c8fa;
  border-bottom: 1px solid white;
}
